.classe2{
    width: 300px;
    height: 300px;
    border: gold solid 1px
    padding: 20px

}

.classe2{

background-color: black;
color: blue;

}

.classe3{
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    opacity: 90%;

}

.classe4{


    
}